@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root{
--cyan: hsl(179, 62%, 43%);
--bright_yellow: hsl(71, 73%, 54%);
--light_gray: hsl(204, 43%, 93%);
--grayish_blue:hsl(218, 22%, 67%);
  font-size: 16px;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Karla', sans-serif;
}
